// Reset styles
@import "null.scss";
body {
  background-color: #000000;
}

.container {
  min-height: 100vh;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}
// Header
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 0 0;
  padding: 20px 10px;
  border-radius: 10px 10px 0px 0px;
  background-color: rgb(0, 0, 0);
  border: 2px solid #ffffff;
  border-bottom: none;
  &__logo{
    font-size: 28px;
    font-weight: 600;
    color: #ffffff;
  }
  &__themebtn {
    background: #7c7c7c;
    color: #ffff;
    font-size: 20px;
    border-radius: 20px;
    padding: 5px 10px;
  }
}
// END Header
// Main
.main {
  flex: 1 1 auto;
  &__text {
    font-size: 30px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #000000;
    height: 100%;
  }
}
// Mood
.your-mood {
  background-color: #000000;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
  border: 2px solid #ffffff;
  &__input {
    font-size: 20px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 20px 10px;
    width: 100%;
    margin: 0 0 10px 0;
    resize: none;
  }
  &__emoji {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    &-smile {
      background-color: #000000;
      font-size: 40px;
      border-radius: 100%;
      padding-bottom: 4px;
      padding-left: 1px;
    }
    &-smile:hover{
      background: #cacaca;
      vertical-align: middle;
      transition: 0.3s;
    }
    &-smile:active{
      background: #e5e5e5;
      vertical-align: middle;
      transition: 0.3s;
    }
  }
  &__savebtn {
    font-size: 20px;
    width: 100%;
    background-color: #8e8e8e;
    color: #ffff;
    border-radius: 8px;
    padding: 10px 0;
    transition: 0.3s;
    &:hover{
      background-color: #747474;
    }
  }
}
// Records
.your-records {
  &__card {
    border-radius: 10px;
    border: 2px solid #ffffff;
    padding: 20px;
    background-color: #000000;
    margin-bottom: 20px;
  }
  &__duedate {
    color: #ffff;
    font-weight: 600;
    font-size: 20px;
  }
  &__smile {
    font-size:  70px;
    text-align: center;
    margin-bottom: 20px;
  } 
  &__text {
    color: #ffff;
    font-size: 20px;
    margin-bottom: 10px;
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    button {
      font-size: 20px;
      width: 50%;
      padding: 8px 0;
      border-radius: 8px;
      border: 2px solid #ffffff;
      transition: 0.3s;
    }
    button:hover {
      background: #707070;
      color: #000000;
      border: 2px solid #565656;
    }
}
}
.edit-textarea {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  font-family: inherit;
  margin-bottom: 8px;
  resize: none;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
}
// END Main
//Footer
.footer{
  color: #ffff;
  font-weight: 600;
  text-align: center;
  padding: 15px 0;
}

