// Reset styles
@import "null.scss";
body {
  background-color: #0b9d85;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}
// Header
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 0 0;
  padding: 20px 10px;
  border-radius: 10px 10px 0px 0px;
  background-color: rgb(255, 255, 255);
  border: 2px solid #c5c5c5;
  border-bottom: none;
  &__logo{
    font-size: 28px;
    font-weight: 600;
    color: #000;
  }
  &__themehbtn {
    font-size: 20px;
    border-radius: 20px;
    padding: 5px 10px;
  }
}
// END Header
// Main
.main {
  &__text {
    font-size: 30px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #ffff;
  }
}
// Mood
.your-mood {
  background-color: #fff;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
  border: 2px solid #c5c5c5;
  &__input {
    font-size: 20px;
    border: 1px solid #c5c5c5;
    border-radius: 10px;
    padding: 20px 10px;
    width: 100%;
    margin: 0 0 10px 0;
    resize: none;
  }
  &__emoji {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    &-smile {
      background-color: #fff;
      font-size: 50px;
    }
  }
  &__savebtn {
    font-size: 20px;
    width: 100%;
    background-color: #398e79;
    color: #ffff;
    border-radius: 8px;
    padding: 10px 0;
  }
}
// Records
.your-records {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #c5c5c5;
  &__card {
    
  }
  &__duedate {
    font-weight: 600;
    font-size: 20px;
  }
  &__smile {
    font-size:  70px;
    text-align: center;
    margin-bottom: 20px;
  } 
  &__text {
    font-size: 20px;
    margin-bottom: 10px;
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    &-editbtn {
      font-size: 20px;
      width: 50%;
      padding: 8px 0;
      border-radius: 8px;
      border: 2px solid #c5c5c5;
    }
    &-delbtn {
      font-size: 20px;
      width: 50%;
      padding: 8px 0;
      border-radius: 8px;
      border: 2px solid #c5c5c5;
    }
  }
}
// END Main
//Footer
.footer{
  color: #ffff;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 20px;
  text-align: center;
}